body {
  margin: 0;
  font-family:'Black Ops One', cursive;
  font-size: 110%;
  background-color: rgb(90, 94, 98);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.current-sport-text {
  padding-right: 10px;
}

.links {
  padding-right: 10px;
}
.active {
  color: white
}

.title {
  display: block;
  color: rgb(83, 16, 146);

}

.not-found {
  padding-left: 10%;
  padding-right: 10%
}

 .current-sport{
  display: inline-flex;
  padding-right: 15px;
  padding-left: 25px;
  align-items: center;
}

.refresh {
  padding-left: 15px;
}

.clock{
  display: inline-flex;
  align-items: center;
  padding-left: 10px;
  color: #531092;
}


.countdown{
  display: inline-flex;
  /* padding-bottom: 10px; */
  align-items: flex-end;
  align-items: center;
  color: #531092;
}

.ticker-container{
  display: inline;
  align-content: center;
  color: #531092;
}

.marquee {
  display: inline-flex;
  flex-direction: row;
  padding-top: 50px;
  padding-right: 20px;
  
}

.marquee-container {
  display: flex;
  border: black;
  color: red;
  font-family: 'Press Start 2P', cursive;
  font-size: 80%;
  border-style: solid;
  border-radius: 25px;
  border-width: 40px;
  margin-left: 30px;
  margin-right: 30px;
  background-image: url("./black-ticker-texture.jpg");
}

.teams {
  display: inline-flex;
  align-items: left;
  flex-direction: column;
  padding-right: 20px;
  padding-bottom: 10px;
}

.current-odds {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.moneylines {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 75px;
  padding-bottom: 10px;
}

.fantasy-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}

.time-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 50px;
  padding-bottom: 10px;
}
.team-scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.fantasy-points {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.dropbtn {
  background-color: rgb(83, 16, 146);
  color: white;
  padding: 5px 20px;
  display: inline;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  background-color: rgb(83, 16, 146);
  position: relative;
  display: inline-flex;
  flex-direction: row;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: rgb(40, 45, 51);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.472);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
}
.dropdown-content a:hover {
  background-color: rgb(83, 16, 146);

}

.dropdown:hover .dropdown-content {
  display: inline;
}

.dropdown:hover .dropbtn {
  background-color:rgb(83, 16, 146);
}
